@model StudentReport.ViewModel.NewStudentViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student Form</h2>
@using (Html.BeginForm("update", "Students"))
{
    <div class="form-group">
        @Html.LabelFor(s => s.Student.FirstName)
        @Html.TextBoxFor(s => s.Student.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Student.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.Student.LastName)
        @Html.TextBoxFor(s => s.Student.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.Student.BirthDate)
        @Html.TextBoxFor(s => s.Student.BirthDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Student.BirthDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.Student.Course)
        @Html.DropDownListFor(s => s.Student.CourseId, new SelectList(Model.Courses, "Id", "CourseName"), "Select Course", new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Student.CourseId)
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.Student.CourseEnrolledDate)
        @Html.TextBoxFor(s => s.Student.CourseEnrolledDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Student.CourseEnrolledDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.Student.CourseStatus)
        @Html.DropDownListFor(s => s.Student.CourseStatus, new List<SelectListItem>
   {
       new SelectListItem{ Text="In Progress", Value ="1"},
       new SelectListItem{ Text="Completed", Value ="2"}
   },
       "Select Status", (new { @class = "form-control" }))
        @Html.ValidationMessageFor(s => s.Student.CourseStatus)
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.Student.Grade)
        @Html.TextBoxFor(s => s.Student.Grade, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.Student.Grade)
    </div>
    @Html.HiddenFor(m => m.Student.Id)
    <button type="submit" class=" btn btn-primary">Save</button>
}

    @section scripts
        {
        @Scripts.Render("~/bundles/jqueryval")
    }



